.un-container {
  width: 100%;
  max-width: 1140px;
  padding: 30px 18px;
  margin: 0 auto;

  @include media-lte(tablet) {
    padding: 20px 15px;
  }

  @include media(tablet) {
    margin: 0 auto;
  }
}

.un-row {
  --row-gap: 13px;
  --row-gap-negative: -13px;

  display: flex;
  flex: 1 1 auto;
  margin: 0 var(--row-gap-negative);

  &:not(.is-nowrap) {
    flex-wrap: wrap;
  }

  &.is-dense {
    --row-gap: 6.5px;
    --row-gap-negative: -6.5px;
  }

  &.no-gap {
    --row-gap: 0;
    --row-gap-negative: 0;
  }

  .un-col-auto,
  .un-col,
  .un-col-1,
  .un-col-2,
  .un-col-3 {
    // flex-basis: 0;
    flex-grow: 1;
    margin: var(--row-gap);
  }

  .un-col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .un-col-1 {
    width: 100%;
  }

  .un-col-2 {
    width: calc(50% - 2 * var(--row-gap));
  }

  .un-col-desc-2 {
    @include media-gt(desktop-md) {
      width: calc(50% - 2 * var(--row-gap));
    }
  }

  .un-col-3 {
    width: calc(33.3333% - 2 * var(--row-gap));
  }

  .un-col-lg {
    @include media-lt(desktop-lg) {
      width: 100%;
    }
  }

  .un-col-lg-2 {
    @include media-lt(desktop-lg) {
      width: calc(50% - 2 * var(--row-gap));
    }
  }

  .un-col-md {
    @include media-lt(desktop) {
      width: 100%;
    }
  }

  .un-col-sm {
    @include media-lt(tablet) {
      width: 100%;
    }
  }
}
