// exports #####################################################################
// #############################################################################

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

:export {
  // stylelint-disable

  bpMobile: map-get($un-breakpoints, mobile);
  bpTablet: map-get($un-breakpoints, tablet);
  bpDesktop: map-get($un-breakpoints, desktop);

  // stylelint-enabled
}
